/*** This file is for applying custom css rules to the public site. It will not be overwritten. ***/

.show-future-runs-container {
  border-bottom: none;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: normal;
  height: auto;
}

.show-page-airtimes-header {
  text-transform: capitalize;
}

.btn-watch:after {
  content: " BEC-TV Live";
}

.btn-watch {
  display: none;
}